[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/clsid2/FFmpeg.git
[submodule "libbluray"]
	path = libbluray
	url = https://github.com/Goodwu/libbluray.git
[submodule "qsdecoder"]
	path = qsdecoder
	url = https://github.com/Goodwu/qsdecoder.git
